.event-table {
  width: 100%;
  table-layout: fixed;
}

.event-name {
  width: 35%;
}

.event-timestamp {
  width: 15%;
}

.event-extras {
  width: 50%;
}

.align-middle {
  vertical-align: middle;
}
