version: 2.1

executors:
  node_with_python_executor:
    docker:
      - image: cimg/node:20.16.0 # Cloud Functions Node.js 20 runtime is based on Node.js version 20.16.0
      - image: cimg/python:3.9.6 # Glean requirement: https://mozilla.github.io/glean/book/user/adding-glean-to-your-project/javascript.html#requirements
    # working_directory: /app

jobs:
  build:
    executor: node_with_python_executor
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Install python virtualenv
          command: sudo apt-get update && sudo apt-get install python3-venv
      - run:
          name: Build webapp
          command: npm run build

  test-functions:
    executor: node_with_python_executor
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: cd functions && npm install
      - run:
          name: Test Cloud Functions in offline mode
          command: cd functions && npm test

  test-app:
    executor: node_with_python_executor
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Run app tests
          command: npm test

workflows:
  version: 2
  build:
    jobs:
      - build
      - test-functions
      - test-app
