.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  width: 100%;
  table-layout: fixed;
}

.received {
  width: 8%;
  text-align: right;
}

.doc-type {
  width: 10%;
}

.actions {
  width: 10%;
  text-align: right;
}

.error {
  width: 25%;
}

.payload {
  width: 40%;
}

.cell-overflow {
  position: relative;
  overflow: hidden;
  overflow-wrap: break-word;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

p {
  font-size: 1.25vw;
}

span {
  font-size: 1.25vw;
}

li {
  font-size: 1.25vw;
}

th {
  font-size: medium;
  font-size: 1.5vw;
}

td {
  font-size: medium;
  font-size: 1.25vw;
  vertical-align: top;
}

pre {
  font-size: 1.25vw;
}

.btn-sm {
  font-size: 0.95vw;
}

.breadcrumb-font {
  font-size: 1.5vw;
}

@media screen and (min-width: 1200px) {
  p {
    font-size: 14px;
  }

  span {
    font-size: 14px;
  }

  li {
    font-size: 14px;
  }

  td {
    font-size: 14px;
  }

  th {
    font-size: 16px;
  }

  pre {
    font-size: 14px;
  }

  .btn-sm {
    font-size: 12px;
  }

  .breadcrumb-font {
    font-size: 16px;
  }
}

.active-ping-line {
  background-color: '#fff8c5';
}

.font-weight-normal {
  font-weight: normal;
}

.cursor-pointer {
  cursor: pointer;
}
