.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  width: 100%;
  table-layout: fixed;
}
.received {
  width:5%;
  text-align: right;
}
.doc-type {
  width:8%;
}
.raw-json-link {
  width: 5%;
  text-align: right;
}
.error {
  width:20%;
}
.payload {
  max-width:62%;
}

.cell-overflow {
  position: relative;
  overflow: hidden;
  overflow-wrap: break-word;
}
